<%= turbo_stream_from "messages" %>

<div class="my-container">
  
    <%= render 'shared/map' %>
  
  <div class="chat-container">
    <%# render 'shared/user_location' %>

    <%= render 'shared/categories' %>
    
    <div id="messages-container" class="messages-container">
      <%= turbo_frame_tag "messages" do %>
        <%= render @messages.reverse %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <%= turbo_frame_tag "new_message" do %>
        <%= render "form", message: @new_message %>
      <% end %>
    <% end %>
  </div>
  
</div>
