<%= turbo_stream_from "messages" %>

<%= render 'shared/user_location' %>

<h1>AROUND YOU:</h1>
<%= render 'filter_form' %>

<div id="messages" class="messages-container">
  <%= turbo_frame_tag "messages" do %>
    <%= render @messages %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= turbo_frame_tag "new_message" do %>
    <%= render "form", message: @new_message %>
  <% end %>
<% end %>
  
  
