

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-brand" style="height:40px; width: 240px; margin-top: -10px;">
        <%= link_to "LOCAL_CHAT", root_path, style: 'max-width:100%; max-height:100%;'%>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Accueil", root_path, class: 'nav-link' %>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <% if !user_signed_in? %>
          <%= link_to "SE CONNECTER", new_user_session_path, class: 'btn btn-outline-dark btn-sm mr-sm-2' %>
          <%= link_to "S'INSCRIRE", new_user_registration_path, class: 'btn btn-dark btn-sm my-2 mr-sm-2' %>
          <% end %>
          <% if user_signed_in? %>
          <a class="dropdown-toggle btn btn-outline-dark btn-sm mr-sm-2" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg style="margin-bottom: 1px; margin-right: 3px" width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg> <%= current_user.email %>
          </a>
          <div style="left: auto;" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profil", edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to "💔Se déconnecter", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
          <% end %>
        </div>
        
      </div>
    </div>
  </nav>



</header>